.footer {
    color: red;
    max-width: 50%;
    margin: 0.05rem auto 0 auto;
    cursor: pointer;

}

.date {

    color: rgb(90, 133, 212);
    display: grid;
    justify-content: flex-end;
    align-items: end;
    font-size: 2.5rem;
    margin: 0.05rem auto 0 auto;
    cursor: pointer;

}



.red {
    font-size: 3rem;
    color: blue;
    cursor: pointer;
}