@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@300,600&display=swap');

* {
    margin: 0;
    padding: 0;
}

@media screen and (min-width:768px) {
    .button {
        width: min(8rem, 40vw);
    }
}

@media screen and (max-width:767px) {
    .button {
        width: max(6rem, 40vw);
    }
}

.form {
    display: flex;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    color: white;
    margin-bottom: clamp(0.1rem, 10vw, 1.8rem);
    width: clamp(1rem, 50vw, 50rem);
    height: clamp(1.5rem, 5vw, 2.5rem);
}

.input {
    text-align: center;
    font-size: clamp(1rem, 5vw, 2.5rem);
    text-decoration: solid;
    size: solid;
    margin-bottom: clamp(0.1rem, 10vw, 1.8rem);
    border-radius: 5px;
    height: clamp(2rem, 8vw, 3.7rem);
    width: clamp(1rem, 50vw, 40rem);
}

.button {
    display: flex;
    justify-content: center;
    height: clamp(2.3rem, 8.5vw, 3.8rem);
    font-size: clamp(1rem, 5vw, 2.3rem);
    padding-top: 0.3rem;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: rgb(113, 151, 221);
    color: white;
}

.button :hover {
    color: yellow;
}