* {
    margin: 0;
    padding: 0;
}

@media (width:768px) {
    .time {
        width: 8rem;
        font-size: 2.5rem;
    }

    time {
        width: 18rem;
        font-size: 2.5rem;
    }
}

.wrapper {
    max-width: clamp(40rem, 100%, 70rem);
    margin: 0.05rem auto 0 auto;
    text-align: left;
    word-break: break-all;
    overflow: auto;
    scrollbar-base-color: #03f8f4;
    scrollbar-track-color: #03f8f4;
    scrollbar-arrow-color: #03f8f4;
}

.title {
    text-align: left;
    margin-left: clamp(1.9rem, 9vw, 3rem);
    margin-right: clamp(11rem, 30vw, 13rem);
    margin-top: 0rem;
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    font-weight: 400;
    border-color: rgb(15, 22, 154);
}

.title:hover {

    opacity: 1;
    font-weight: 600;

}

.title:active {
    color: rgb(138, 42, 53);
    opacity: 1;
    font-weight: 900;

}

.container {
    position: relative;
    list-style: none;
    width: 99%;
    height: clamp(1.5rem, 30vw, 5.5rem);

    box-shadow: 0.4rem 0.4rem clamp(0.7rem, 4vw, 1rem) 0.5rem #03f8f4;
    border-radius: 1rem;
    padding: 0.1rem;
    margin-bottom: 0.3rem;
    cursor: pointer;
}

.lock {
    position: absolute;
    font-size: clamp(1rem, 5vw, 1.8rem);
    top: clamp(0.1rem, 5vw, 1.5rem);
    left: clamp(0rem, 1vw, 0.2rem);
    width: clamp(1rem, 7vw, 2.5rem);
    height: clamp(1rem, 8vw, 2.5rem);
    color: rgb(138, 42, 53);
    cursor: pointer;
}

.close {
    text-decoration: line-through;
    color: gray;
}

.lockClosed {
    text-decoration: line-through;
    color: gray;
}

.date {
    position: absolute;
    top: clamp(0rem, 20vw, 0.3rem);
    right: clamp(0rem, 1vw, 0.1rem);
    height: clamp(0.8rem, 44vw, 2.2rem);
    width: clamp(11rem, 25vw, 13rem);
    font-size: clamp(1.5rem, 5vw, 1.7rem);
    font-weight: 900;
    color: rgb(138, 42, 53);
    cursor: pointer;
}

.date :hover {
    color: red;
    font-weight: 900;
}

.time {
    position: absolute;
    top: 3rem;
    right: clamp(4rem, 15vw, 5.5rem);
    height: clamp(1rem, 36vw, 2rem);
    width: clamp(4.5rem, 33vw, 7.2rem);
    font-size: clamp(1.5rem, 4vw, 1.6rem);
    font-weight: 900;
    color: rgb(138, 42, 53);
    cursor: pointer;
}


.edit {
    position: absolute;
    bottom: 0.1rem;
    right: clamp(1rem, 7vw, 2.5rem);
    width: clamp(1rem, 8vw, 2.5rem);
    height: clamp(1rem, 8vw, 2.5rem);
    color: rgb(138, 42, 53);
    cursor: pointer;
}

.remove {
    position: absolute;
    bottom: 0.1rem;
    right: 0rem;
    height: clamp(1rem, 8vw, 2.5rem);
    width: clamp(1rem, 8vw, 2.5rem);
    color: rgb(138, 42, 53);
    cursor: pointer;
}

.remove :hover {
    color: red;
    transform: flex;
    border: 1.5rem;
}