@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@300,600&display=swap');

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 90%;
    margin: 0.05rem auto 0 auto;
}

.header {
    text-align: center;
    font-size: clamp(2rem, 5vw, 5rem);
    color: rgb(90, 133, 212);
    margin: 0;
}

.header:hover {
    color: rgb(234, 255, 0);
}

.hr {
    color: rgb(234, 255, 0);
    font-weight: 700;
}

.alltodos {
    font-size: clamp(1.5rem, 5vw, 3.3rem);
    font-weight: 500;
    color: rgb(90, 133, 212);
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.alltodos :hover {

    color: rgb(228, 245, 46);
    font-weight: 700;
    transform: scale(1);
}

.btnclear {
    margin: 0.05rem auto 0 auto;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    font-size: clamp(1.5rem, 5vw, 3rem);
    color: rgb(90, 133, 212);
    background-color: white;
    cursor: pointer;
    transition: color, transform 500ms ease;
}

.btnclear :hover {
    color: rgb(234, 255, 0);
    transform: scale(1);
}